.app {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: calc(10px + 2vmin);
    color: white;
}

.canvasContainer {
    display: flex;
    align-items: center;
    width: 800px;
    margin-left: 1rem;
}

.formsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin: 1rem 1rem 0 0;
}